body {
    background-color: #000;
    background: url("../images/purplebg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Noto Sans', sans-serif;
}


.wrapper {
    width: 99%;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
}

header {
    height: 100px;
    // width: 100%;
    // box-sizing: border-box;
}

nav {
    display: flex;
    // position: relative;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 5px 5px 5px 10px;
    height: 100%;
    width: 100%;
    align-content: center;

    .logo {
        position: relative;
        padding: 0.5em 1em;
    }

    .searchbar {
        position: relative;
        top: 2.5px;
        padding: 0.5em 1em;
        width: 35%;
        // height: 10%


        input {
            width: 100%;
            // height: 100%;
            border: 1px #000 solid;
            border-radius: 15px;
            padding: 5px 5px 5px 25px;
            position: absolute;
            
        }
    }

    .menu {
        display: none;;
    }

    ul {
        display: flex;
        list-style-type: none;
        position: relative;
        justify-content: space-between;
        padding: 0.5em 1em;
        bottom: 0.85em;
        // left: 60em;
        // bottom: -0.75em;

        .dropdown {
            position: relative;
            display: inline-block;
        }

        a {
            color:white;
            margin: 1em;

            &:hover {
                background: rgb(94, 85, 114);
            }
        }

        .dropbtn {
            cursor: pointer;
        }

        .account-actions {
            display: none;
            position: absolute;
            right: 10px;
            background-color: rgb(98, 79, 139);
            z-index: 1;

            a {
                color: black;
                display: block;

                &:hover {
                    background-color: rgb(226, 226, 250);
                }
            }
        }

        .show {
            display: block;
        }
    }
}
section.g-content {
    color: white;
    .vision {
        
        .vgrid-container {
            display: grid;
            grid-template-columns: repeat(4, 300px);
            grid-template-rows: repeat(4, minmax(100px, auto));
            justify-content: center;
            column-gap: 40px;
            grid-template-areas: 
            "c1 . . ."
            ". c2 . ."
            ". . c3 ."
            ". . . c4";

            .vgrid-item {
                // background-color: blue;
                align-content: center;
                text-align: center;
                align-content: center;
                font-style: italic;
                font-size: 5rem;
                span{
                    font-weight: bolder;
                }
            }
            .vgrid-item-1 {
                grid-area: c1;
            }
            .vgrid-item-2 {
                grid-area: c2;
            }
            .vgrid-item-3 {
                grid-area: c3;
            }
            .vgrid-item-4 {
                grid-area: c4;
            }
        }
    }

    .desc {
        width: 100%;
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    nav {
        
        .logo {
            padding: 0 0;
        }
        .searchbar {
            display: none;
        }
        .menu {
            display: block;
            fill:white;
            width: 2.2em;
            margin-top: -4.6em;
            margin-right: 0.5em;
            padding: 0 0;
            cursor: pointer;
        }

        ul {
            display: none;
        }
    }

    section.g-content {

        .vision {
            .vgrid-container {
                display: unset;

                .vgrid-item {
                    // background-color: blue;
                    align-content: center;
                    text-align: center;
                    align-content: center;
                    font-style: italic;
                    font-size: 4rem;
                    margin-bottom: 40px;
                    span{
                        font-weight: bolder;
                    }
                }
                .vgrid-item-1 {
                    grid-area: c1;
                }
                .vgrid-item-2 {
                    grid-area: c2;
                }
                .vgrid-item-3 {
                    grid-area: c3;
                }
                .vgrid-item-4 {
                    grid-area: c4;
                }
            }
            
        }
            

    }
}