body {
  background-color: #000;
  background: url("../images/purplebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Noto Sans", sans-serif;
}

.wrapper {
  width: 99%;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
}

header {
  height: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 5px 5px 5px 10px;
  height: 100%;
  width: 100%;
  align-content: center;
}
nav .logo {
  position: relative;
  padding: 0.5em 1em;
}
nav .searchbar {
  position: relative;
  top: 2.5px;
  padding: 0.5em 1em;
  width: 35%;
}
nav .searchbar input {
  width: 100%;
  border: 1px #000 solid;
  border-radius: 15px;
  padding: 5px 5px 5px 25px;
  position: absolute;
}
nav .menu {
  display: none;
}
nav ul {
  display: flex;
  list-style-type: none;
  position: relative;
  justify-content: space-between;
  padding: 0.5em 1em;
  bottom: 0.85em;
}
nav ul .dropdown {
  position: relative;
  display: inline-block;
}
nav ul a {
  color: white;
  margin: 1em;
}
nav ul a:hover {
  background: rgb(94, 85, 114);
}
nav ul .dropbtn {
  cursor: pointer;
}
nav ul .account-actions {
  display: none;
  position: absolute;
  right: 10px;
  background-color: rgb(98, 79, 139);
  z-index: 1;
}
nav ul .account-actions a {
  color: black;
  display: block;
}
nav ul .account-actions a:hover {
  background-color: rgb(226, 226, 250);
}
nav ul .show {
  display: block;
}

section.g-content {
  color: white;
}
section.g-content .vision .vgrid-container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(4, minmax(100px, auto));
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  grid-template-areas: "c1 . . ." ". c2 . ." ". . c3 ." ". . . c4";
}
section.g-content .vision .vgrid-container .vgrid-item {
  align-content: center;
  text-align: center;
  align-content: center;
  font-style: italic;
  font-size: 5rem;
}
section.g-content .vision .vgrid-container .vgrid-item span {
  font-weight: bolder;
}
section.g-content .vision .vgrid-container .vgrid-item-1 {
  grid-area: c1;
}
section.g-content .vision .vgrid-container .vgrid-item-2 {
  grid-area: c2;
}
section.g-content .vision .vgrid-container .vgrid-item-3 {
  grid-area: c3;
}
section.g-content .vision .vgrid-container .vgrid-item-4 {
  grid-area: c4;
}
section.g-content .desc {
  width: 100%;
  font-size: 20px;
}

@media only screen and (max-width: 800px) {
  nav .logo {
    padding: 0 0;
  }
  nav .searchbar {
    display: none;
  }
  nav .menu {
    display: block;
    fill: white;
    width: 2.2em;
    margin-top: -4.6em;
    margin-right: 0.5em;
    padding: 0 0;
    cursor: pointer;
  }
  nav ul {
    display: none;
  }
  section.g-content .vision .vgrid-container {
    display: unset;
  }
  section.g-content .vision .vgrid-container .vgrid-item {
    align-content: center;
    text-align: center;
    align-content: center;
    font-style: italic;
    font-size: 4rem;
    margin-bottom: 40px;
  }
  section.g-content .vision .vgrid-container .vgrid-item span {
    font-weight: bolder;
  }
  section.g-content .vision .vgrid-container .vgrid-item-1 {
    grid-area: c1;
  }
  section.g-content .vision .vgrid-container .vgrid-item-2 {
    grid-area: c2;
  }
  section.g-content .vision .vgrid-container .vgrid-item-3 {
    grid-area: c3;
  }
  section.g-content .vision .vgrid-container .vgrid-item-4 {
    grid-area: c4;
  }
}/*# sourceMappingURL=main.css.map */