html {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
    background-color: rgb(211, 211, 211);
    // background: url("../images/purplebg.jpg");
    // background-size: cover;
    // background-repeat: no-repeat;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

.create-post-container {
    position: fixed;
    z-index: 81;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    // position: fixed;

    .create-post-content {
        background-color: white;
        width: 500px;
        border-radius: 10px;

        .create-post-header {
            font-size: 22px;
            font-weight: 600;
            padding: 2px 16px;
            border-bottom: 1px solid #bfbfbf;

            h3 {
                // text-align: center;
            }

            #close {
                font-size: 28px;
                font-weight: bold;
                float:right;
            }

            #close:hover, #close:focus {
                color: #d0d6dd;
                text-decoration: none;
                cursor: pointer;
            }

            
        }

        form {
            margin: 20px 25px;

            :where(textarea, button) {
                width: 100%;
                outline: none;
                border: none;
            }

            textarea {
                resize: none;
                margin-top: 10px;
                font-size: 18px;
                min-height: 100px;
            }

            .create-post-footer {
                display: flex;
                align-items: center;
                column-gap: 10px;

                .post-add {
                    height: 50px;
                    width: fit-content;
                    border-radius: 7px;
                    padding: 0 15px;
                    margin: 15px 0;
                    border: 1px solid #b9b9b9;
    
                    .media-list {
                        display: flex;
                        align-items: center;
                        // justify-content: center;
                        height: 100%;
                        padding: 0;
                        margin: 0;
    
                        li {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            list-style: none;
                            height: 42px;
                            width: 42px;
                            border-radius: 50%;
    
                            
                            img {
                                cursor: pointer;
                                width: 23px;
                            }
                        }
    
                        li:hover {
                            background-color: #dfdee4;
                        }
                    }
                }
    
                .post-button {
                    height: 50px;
                    border-radius: 7px;
                    font-size: 18px;
                    font-weight: 500;
                    cursor: no-drop;
                    color: #bcc0c4;
                    background: #e2e5e9;
                }
            }

            textarea:valid ~ .create-post-footer button {
                cursor: pointer;
                color: white;
                background:#5d2471;
            }

        }
    }
}

.wrapper {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}

header {
    height: 60px;
    z-index: 80;
    position: fixed;
    width: 100%;
    // width: 100%;
    // box-sizing: border-box;
    // background-color: #5d2471;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 5px 5px 5px 10px;
    height: 100%;
    width: 100%;
    align-items: center;
    color: black;

    .logo {
        // position: relative;
        padding: 0.5em 1em;
    }

    .searchbar {
        // position: relative;
        // top: 2.5px;
        // padding: 0.5em 1em;
        margin: 0.5em auto;
        width: 100%;
        max-width: 690px;
        // height: 10%


        input {
            width: 100%;
            // height: 100%;
            border: 1px #000 solid;
            line-height: 16px;
            font-size: 16px;
            border-radius: 3px;
            padding: 5px 5px 5px 10px;
            // position: absolute;
            
        }
    }

    .menu {
        display: none;
        // color: black;
    }

    ul {
        display: flex;
        list-style-type: none;
        // position: relative;
        align-items: center;
        padding: 0.5em 1em;
        bottom: 0.85em;
        // left: 60em;
        // bottom: -0.75em;

        li {
            height: 30px;
            margin: 0 1em;
            
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        a {
            // color: black;
            // margin: 1em;
            white-space: nowrap;
            &:hover {
                background: rgb(94, 85, 114);
            }
        }

        .dropbtn {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            img {
                height: 100%;
            }

            .user-name {
                height: 100%;
            }
        }

        .dropbtn > * {
            pointer-events: none;
        }

        .account-actions {
            display: none;
            position: absolute;
            background-color: rgb(98, 79, 139);
            z-index: 1;
            right: -6px;
            top: 36px;
            padding: 0 0;
            border-radius: 9px;
            width: 150px;

            a {
                color: white;
                display: block;
                font-size: 18px;
                height: 100%;
                margin: 10px 0;
                text-align: center;
                &:hover {
                    background-color: rgb(121, 98, 170);
                    border-radius: 10px;;
                    margin: 10px 10px;
                }
            }
        }

        .show {
            display: block;
        }
    }
}
section.g-content {
    // color: white;
    padding-top: 60px;
    .vision {
        
        .vgrid-container {
            display: grid;
            grid-template-columns: repeat(4, 300px);
            grid-template-rows: repeat(4, minmax(100px, auto));
            justify-content: center;
            // column-gap: minmax(0, auto);
            grid-template-areas: 
            "c1 . . ."
            ". c2 . ."
            ". . c3 ."
            ". . . c4";

            .vgrid-item {
                // background-color: blue;
                align-content: center;
                text-align: center;
                align-content: center;
                font-style: italic;
                font-size: 5rem;
                span{
                    font-weight: bolder;
                }
            }
            .vgrid-item-1 {
                grid-area: c1;
            }
            .vgrid-item-2 {
                grid-area: c2;
            }
            .vgrid-item-3 {
                grid-area: c3;
            }
            .vgrid-item-4 {
                grid-area: c4;
            }
        }
    }

    .desc {
        width: 100%;
        font-size: 20px;
    }
}

section.bodywrapper {
    // background-color: pink;
    color: white;
    display: flex;
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    // margin: 3.5em 5em 0 5em;
    justify-content: center;
    // margin: 3.5em 6em 0 6em;
    padding: 80px 24px 20px 24px;
    margin: 0 auto;
    column-gap: 40px;
    height: 100%;

    .post-section {
        // background-color: green;
        max-width: 720px;
        width: 100%;
        // margin-left: 2em;
        height: 100%;
        
        .post {
            background-color: white;
            color: black;
            border-radius: 3px;
            position: relative;
            margin-bottom: 20px;
            // height: 100%;

            .post-header {
                height: 60px;
                color: inherit;
                // background-color: #a886b4;
                display: flex;
                align-items: center;
                column-gap: 15px;
                border-bottom: 1px solid black;

                .poster-profile-img {
                    height: 90%;
                    margin-left: 1em;

                    img {
                        height: 100%;
                    }
                }

                .poster-name {
                    font-family: 'Ubuntu', 'sans-serif';
                    font-weight: bold;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .posted-date {
                    font-family: 'Ubuntu', 'sans-serif';
                    font-weight: bold;
                    margin-left: auto;
                    padding-right: 1em;
                    white-space: nowrap;
                }
            }

            .post-body {
                // text-align: center;
                position: relative;
                height: 100%;
                width: 100%;
                
                .post-title {
                    margin-left: 1em;
                    h1 {
                        margin-bottom: 0;
                    }
                }
                
                .post-text {
                    margin-left: 0.8em;
                    font-size: 20px;
                    padding: 1em 0;
                }

                .media-container {
                    position: relative;
                    height: 512px;
                    max-height: 512px;

                    .media-body {
                        height: 100%;
                        object-fit: cover;
                        width: 100%;

                    }
                }
            }

            .post-footer {
                // background-color: #b27fc5;
                display: flex;
                align-items: center;
                height: 36px;
                color: inherit;
                border-top: 1px solid black;

                .comment-button {
                    font-size: 12px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 2px;
                    color: inherit;
                    margin-left: 1em;
                    border: 0;
                    padding: 0 8px;

                    img {
                        height: 20px;
                    }

                    .comment-word {
                        font-family: 'Ubuntu', sans-serif;
                        margin-left: 4px;
                        font-weight: 700;
                    }

                    .comm-button {
                        height: 100%;
                        background: transparent;
                        border: none;
                        border-radius: 2px;
                        padding: 8px;
                        display: flex;
                        align-items: center;

                        img {
                            height: 20px;
                        }
    
                        .comment-word {
                            font-family: 'Ubuntu', sans-serif;
                            margin-left: 4px;
                            font-weight: 700;
                        }
                    }

                    
                }

                .comment-button:hover {
                    background-color: rgb(223, 223, 223);
                }

                .like-button {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    // background-color: white;
                    padding: 0;
                    border: 0;

                    button {
                        height: 100%;
                        background: transparent;
                        border: none;
                        border-radius: 2px;
                        padding: 8px;
                        display: flex;
                        align-items: center;

                        img {
                            height: 100%;
                        }

                        .like-word {
                            margin-left: 4px;
                            font-size: 12px;
                            font-weight: 700;
                        }
                    }
                }

                .like-button:hover {
                    background-color: rgb(223, 223, 223);
                }

                .share-button {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    // background-color: white;
                    padding: 0;
                    border: 0;

                    button {
                        height: 100%;
                        background: transparent;
                        border: none;
                        border-radius: 2px;
                        padding: 8px;
                        display: flex;
                        align-items: center;

                        img {
                            height: 100%;
                        }

                        .share-word {
                            color: Black;
                            margin-left: 4px;
                            font-size: 12px;
                            font-weight: 700;
                        }
                    }
                }

                .share-button:hover {
                    background-color: rgb(223, 223, 223);
                }
            }
        }
    
    }

    .forum-section {
        // background-color: orange;
        max-width: 320px;
        // margin: 0 2em;
        height: 100%;
        color: black;

        .forum-profile {
            background-color: white;
            border-radius: 10px;
            // height: auto;
            margin: 0 1em;
            position: relative;

            .forum-name {
                text-align: center;
                // font-size: 1.2em;
                font-size: 16px;
                letter-spacing: .5px;
                line-height: 12px;
                padding: 12px 0 0;
            }

            .forum-img {
                color: black;
                margin-left: 50%;
                transform: translateX(-50%);
                height: 180px;
                width: 180px;
                border-radius: 50%;

                #photo {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                }

                #file {
                    display: none;
                }

                #upload {
                    height: 64px;
                    width: 64px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-40%, -60%);
                    cursor: pointer;
                    display: none;
                }
            }

            .forum-desc {
                font-size: 1em;
                margin: 2em 1em 0 1em;
            }

            .data-count {
                display: flex;
                justify-content: space-evenly;
                font-size: 0.8em;
                
                h2 {
                    margin: 0;
                }

                p {
                    margin: 0 0 1em 0;
                    font-weight: bold;
                }
            }

            .join-forum {
                background-color: purple;
                box-shadow: none;
                color: white;
                font-size: 14px;
                position: relative;
                height: 10%;
                width: 75%;
                border-radius: 40px;
                border: 1px solid black;
                left: 50%;
                transform: translateX(-50%);
                margin-bottom: 5%;
            }

        }
    }
}

@media only screen and (max-width: 1000px) {
    section.bodywrapper {
        // background-color: pink;
        color: white;
        display: flex;
        justify-content: center;
        // margin: 3.5em 6em 0 6em;
        padding: 80px 24px 20px 24px;
        margin: 0 auto;
        column-gap: 8px;
        height: 100%;
    
        .post-section {
            // background-color: green;
            max-width: 580px;
            width: 100%;
            // margin-left: 2em;
            height: 100%;
            
            .post {
                background-color: white;
                color: black;
                border-radius: 3px;
                position: relative;
                margin-bottom: 20px;
                // height: 100%;
    
                .post-header {
                    height: 60px;
                    color: inherit;
                    // background-color: #a886b4;
                    display: flex;
                    align-items: center;
                    column-gap: 15px;
                    border-bottom: 1px solid black;
    
                    .poster-profile-img {
                        height: 90%;
                        margin-left: 1em;
    
                        img {
                            height: 100%;
                        }
                    }
    
                    .poster-name {
                        font-family: 'Ubuntu', 'sans-serif';
                        font-weight: bold;
                    }
    
                    .posted-date {
                        font-family: 'Ubuntu', 'sans-serif';
                        font-weight: bold;
                        margin-left: auto;
                        padding-right: 1em;
                    }
                }
    
                .post-body {
                    // text-align: center;
                    position: relative;
                    height: 100%;
                    width: 100%;
                    
                    .post-title {
                        margin-left: 1em;
                        h1 {
                            margin-bottom: 0;
                        }
                    }
                    
                    .post-text {
                        margin-left: 0.8em;
                        font-size: 20px;
                        padding: 1em 0;
                    }
    
                    .media-container {
                        position: relative;
                        height: 512px;
                        max-height: 512px;
    
                        .media-body {
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
    
                        }
                    }
                }
    
                .post-footer {
                    // background-color: #b27fc5;
                    display: flex;
                    align-items: center;
                    height: 36px;
                    color: inherit;
                    border-top: 1px solid black;
    
                    .comment-button {
                        font-size: 12px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 2px;
                        color: inherit;
                        margin-left: 1em;
                        border: 0;
                        padding: 0 8px;
    
                        img {
                            height: 20px;
                        }
    
                        .comment-word {
                            font-family: 'Ubuntu', sans-serif;
                            margin-left: 4px;
                            font-weight: 700;
                        }
    
                        .comm-button {
                            height: 100%;
                            background: transparent;
                            border: none;
                            border-radius: 2px;
                            padding: 8px;
                            display: flex;
                            align-items: center;
    
                            img {
                                height: 20px;
                            }
        
                            .comment-word {
                                font-family: 'Ubuntu', sans-serif;
                                margin-left: 4px;
                                font-weight: 700;
                            }
                        }
    
                        
                    }
    
                    .comment-button:hover {
                        background-color: rgb(223, 223, 223);
                    }
    
                    .like-button {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        // background-color: white;
                        padding: 0;
                        border: 0;
    
                        button {
                            height: 100%;
                            background: transparent;
                            border: none;
                            border-radius: 2px;
                            padding: 8px;
                            display: flex;
                            align-items: center;
    
                            img {
                                height: 100%;
                            }
    
                            .like-word {
                                margin-left: 4px;
                                font-size: 12px;
                                font-weight: 700;
                            }
                        }
                    }
    
                    .like-button:hover {
                        background-color: rgb(223, 223, 223);
                    }
    
                    .share-button {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        // background-color: white;
                        padding: 0;
                        border: 0;
    
                        button {
                            height: 100%;
                            background: transparent;
                            border: none;
                            border-radius: 2px;
                            padding: 8px;
                            display: flex;
                            align-items: center;
    
                            img {
                                height: 100%;
                            }
    
                            .share-word {
                                color: Black;
                                margin-left: 4px;
                                font-size: 12px;
                                font-weight: 700;
                            }
                        }
                    }
    
                    .share-button:hover {
                        background-color: rgb(223, 223, 223);
                    }
                }
            }
        
        }
    
        .forum-section {
            // background-color: orange;
            max-width: 320px;
            // margin: 0 2em;
            height: 100%;
            color: black;
    
            .forum-profile {
                background-color: white;
                border-radius: 10px;
                // height: auto;
                margin: 0 1em;
                position: relative;
    
                .forum-name {
                    text-align: center;
                    // font-size: 1.2em;
                    font-size: 16px;
                    letter-spacing: .5px;
                    line-height: 12px;
                    padding: 12px 0 0;
                }
    
                .forum-img {
                    color: black;
                    margin-left: 50%;
                    transform: translateX(-50%);
                    height: 180px;
                    width: 180px;
                    border-radius: 50%;
    
                    #photo {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                    }
    
                    #file {
                        display: none;
                    }
    
                    #upload {
                        height: 64px;
                        width: 64px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-40%, -60%);
                        cursor: pointer;
                        display: none;
                    }
                }
    
                .forum-desc {
                    font-size: 1em;
                    margin: 2em 1em 0 1em;
                }
    
                .data-count {
                    display: flex;
                    justify-content: space-evenly;
                    font-size: 0.8em;
                    
                    h2 {
                        margin: 0;
                    }
    
                    p {
                        margin: 0 0 1em 0;
                        font-weight: bold;
                    }
                }
    
                .join-forum {
                    background-color: purple;
                    box-shadow: none;
                    color: white;
                    font-size: 14px;
                    position: relative;
                    height: 10%;
                    width: 75%;
                    border-radius: 40px;
                    border: 1px solid black;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-bottom: 5%;
                }
    
            }
        }
    }
    
}

@media only screen and (max-width: 800px) {
    nav {
        
        .logo {
            padding: 0 0;
        }
        .searchbar {
            display: none;
        }
        .menu {
            display: block;
            fill: black;
            width: 2.2em;
            margin-right: 1em;
            padding: 0 0;
            cursor: pointer;
        }

        ul {
            display: none;
        }
    }

    section.g-content {

        .vision {
            .vgrid-container {
                display: unset;

                .vgrid-item {
                    // background-color: blue;
                    align-content: center;
                    text-align: center;
                    align-content: center;
                    font-style: italic;
                    font-size: 4rem;
                    margin-bottom: 40px;
                    span{
                        font-weight: bolder;
                    }
                }
                .vgrid-item-1 {
                    grid-area: c1;
                }
                .vgrid-item-2 {
                    grid-area: c2;
                }
                .vgrid-item-3 {
                    grid-area: c3;
                }
                .vgrid-item-4 {
                    grid-area: c4;
                }
            }
        }
    }

    section.bodywrapper {
        // background-color: pink;
        color: white;
        display: flex;
        flex-direction: column-reverse;
        // display: grid;
        // grid-template-columns: 2fr 1fr;
        // margin: 3.5em 5em 0 5em;
        justify-content: center;
        // margin: 3.5em 6em 0 6em;
        padding: 80px 24px 20px 24px;
        margin: 0 auto;
        // column-gap: 8px;
        height: 100%;
    
        .post-section {
            // background-color: green;
            max-width: 720px;
            width: 100%;
            // margin-left: 2em;
            height: 100%;
            
            .post {
                background-color: white;
                color: black;
                border-radius: 3px;
                position: relative;
                margin-bottom: 20px;
                // height: 100%;
    
                .post-header {
                    height: 60px;
                    color: inherit;
                    // background-color: #a886b4;
                    display: flex;
                    align-items: center;
                    column-gap: 15px;
                    border-bottom: 1px solid black;
    
                    .poster-profile-img {
                        height: 90%;
                        margin-left: 1em;
    
                        img {
                            height: 100%;
                        }
                    }
    
                    .poster-name {
                        // max-width: 300px;
                        font-family: 'Ubuntu', 'sans-serif';
                        font-weight: bold;
                    }
    
                    .posted-date {
                        font-family: 'Ubuntu', 'sans-serif';
                        font-weight: bold;
                        margin-left: auto;
                        padding-right: 1em;
                        white-space: nowrap;
                    }
                }
    
                .post-body {
                    // text-align: center;
                    position: relative;
                    height: 100%;
                    width: 100%;
                    
                    .post-title {
                        margin-left: 1em;
                        padding-right: 1em;
                        h1 {
                            margin-bottom: 0;
                        }
                    }
                    
                    .post-text {
                        margin-left: 0.8em;
                        font-size: 20px;
                        padding: 1em 0;
                        padding-right: 1em;
                    }
    
                    .media-container {
                        position: relative;
                        height: 512px;
                        max-height: 512px;
    
                        .media-body {
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
    
                        }
                    }
                }
    
                .post-footer {
                    // background-color: #b27fc5;
                    display: flex;
                    align-items: center;
                    height: 36px;
                    color: inherit;
                    border-top: 1px solid black;
    
                    .comment-button {
                        font-size: 12px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 2px;
                        color: inherit;
                        margin-left: 1em;
                        border: 0;
                        padding: 0 8px;
    
                        img {
                            height: 20px;
                        }
    
                        .comment-word {
                            font-family: 'Ubuntu', sans-serif;
                            margin-left: 4px;
                            font-weight: 700;
                        }
    
                        .comm-button {
                            height: 100%;
                            background: transparent;
                            border: none;
                            border-radius: 2px;
                            padding: 8px;
                            display: flex;
                            align-items: center;
    
                            img {
                                height: 20px;
                            }
        
                            .comment-word {
                                font-family: 'Ubuntu', sans-serif;
                                margin-left: 4px;
                                font-weight: 700;
                            }
                        }
    
                        
                    }
    
                    .comment-button:hover {
                        background-color: rgb(223, 223, 223);
                    }
    
                    .like-button {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        // background-color: white;
                        padding: 0;
                        border: 0;
    
                        button {
                            height: 100%;
                            background: transparent;
                            border: none;
                            border-radius: 2px;
                            padding: 8px;
                            display: flex;
                            align-items: center;
    
                            img {
                                height: 100%;
                            }
    
                            .like-word {
                                margin-left: 4px;
                                font-size: 12px;
                                font-weight: 700;
                            }
                        }
                    }
    
                    .like-button:hover {
                        background-color: rgb(223, 223, 223);
                    }
    
                    .share-button {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        // background-color: white;
                        padding: 0;
                        border: 0;
    
                        button {
                            height: 100%;
                            background: transparent;
                            border: none;
                            border-radius: 2px;
                            padding: 8px;
                            display: flex;
                            align-items: center;
    
                            img {
                                height: 100%;
                            }
    
                            .share-word {
                                color: Black;
                                margin-left: 4px;
                                font-size: 12px;
                                font-weight: 700;
                            }
                        }
                    }
    
                    .share-button:hover {
                        background-color: rgb(223, 223, 223);
                    }
                }
            }
        
        }
    
        .forum-section {
            // background-color: orange;
            max-width: 100%;
            width: 100%;
            margin-bottom: 20px;
            height: 100%;
            color: black;
    
            .forum-profile {
                background-color: white;
                border-radius: 10px;
                // height: auto;
                margin: 0 1em;
                position: relative;
    
                .forum-name {
                    text-align: center;
                    // font-size: 1.2em;
                    font-size: 16px;
                    letter-spacing: .5px;
                    line-height: 12px;
                    padding: 12px 0 0;
                }
    
                .forum-img {
                    color: black;
                    margin-left: 50%;
                    transform: translateX(-50%);
                    height: 180px;
                    width: 180px;
                    border-radius: 50%;
    
                    #photo {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                    }
    
                    #file {
                        display: none;
                    }
    
                    #upload {
                        height: 64px;
                        width: 64px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-40%, -60%);
                        cursor: pointer;
                        display: none;
                    }
                }
    
                .forum-desc {
                    font-size: 1em;
                    margin: 2em 1em 0 1em;
                }
    
                .data-count {
                    display: flex;
                    justify-content: space-evenly;
                    font-size: 0.8em;
                    
                    h2 {
                        margin: 0;
                    }
    
                    p {
                        margin: 0 0 1em 0;
                        font-weight: bold;
                    }
                }
    
                .join-forum {
                    background-color: purple;
                    box-shadow: none;
                    color: white;
                    font-size: 14px;
                    position: relative;
                    height: 10%;
                    width: 75%;
                    border-radius: 40px;
                    border: 1px solid black;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-bottom: 5%;
                }
    
            }
        }
    }
}